Makefile
bin/.deps/
bin/Makefile
compat/.deps/
compat/Makefile
compile
config.h
config.log
config.status
doc/Makefile
doltcompile
doltlibtool
lib/.deps/
lib/Makefile
libtool
m4/Makefile
modules/.deps/
modules/Makefile
modules/access/.deps/
modules/access/bd/.deps/
modules/access/dcp/.deps/
modules/access/dshow/.deps/
modules/access/dtv/.deps/
modules/access/dvb/.deps/
modules/access/linsys/.deps/
modules/access/mms/.deps/
modules/access/rar/.deps/
modules/access/rtp/.deps/
modules/access/rtsp/.deps/
modules/access/screen/.deps/
modules/access/v4l2/.deps/
modules/access/vcd/.deps/
modules/access/vcdx/.deps/
modules/access/zip/.deps/
modules/access/zip/unzip/.deps/
modules/access_output/.deps/
modules/access_output/Makefile
modules/arm_neon/.deps/
modules/audio_filter/.deps/
modules/audio_filter/Makefile
modules/audio_filter/channel_mixer/.deps/
modules/audio_filter/converter/.deps/
modules/audio_filter/resampler/.deps/
modules/audio_filter/spatializer/.deps/
modules/audio_mixer/.deps/
modules/audio_output/.deps/
modules/codec/.deps/
modules/codec/avcodec/.deps/
modules/codec/dmo/.deps/
modules/codec/omxil/.deps/
modules/codec/spudec/.deps/
modules/codec/wmafixed/.deps/
modules/control/.deps/
modules/control/Makefile
modules/control/dbus/.deps/
modules/control/globalhotkeys/.deps/
modules/demux/.deps/
modules/demux/asf/.deps/
modules/demux/avformat/.deps/
modules/demux/avi/.deps/
modules/demux/mkv/.deps/
modules/demux/mp4/.deps/
modules/demux/mpeg/.deps/
modules/demux/playlist/.deps/
modules/gui/.deps/
modules/gui/Makefile
modules/gui/ios_dialog_provider/.deps/
modules/gui/ios_dialog_provider/Makefile
modules/gui/macosx/.deps/
modules/gui/macosx/Makefile
modules/gui/macosx_dialog_provider/.deps/
modules/gui/macosx_dialog_provider/Makefile
modules/gui/minimal_macosx/.deps/
modules/gui/minimal_macosx/Makefile
modules/gui/qt4/.deps/
modules/gui/qt4/Makefile
modules/gui/qt4/adapters/.deps/
modules/gui/qt4/components/.deps/
modules/gui/qt4/components/epg/.deps/
modules/gui/qt4/components/playlist/.deps/
modules/gui/qt4/components/sout/.deps/
modules/gui/qt4/dialogs/.deps/
modules/gui/qt4/managers/.deps/
modules/gui/qt4/styles/.deps/
modules/gui/qt4/util/.deps/
modules/gui/qt4/util/buttons/.deps/
modules/gui/skins2/Makefile
modules/gui/skins2/commands/.deps/
modules/gui/skins2/controls/.deps/
modules/gui/skins2/events/.deps/
modules/gui/skins2/macosx/.deps/
modules/gui/skins2/os2/.deps/
modules/gui/skins2/parser/.deps/
modules/gui/skins2/src/.deps/
modules/gui/skins2/utils/.deps/
modules/gui/skins2/vars/.deps/
modules/gui/skins2/win32/.deps/
modules/gui/skins2/x11/.deps/
modules/hw/vdpau/.deps/
modules/hw/vdpau/Makefile
modules/lua/.deps/
modules/lua/libs/.deps/
modules/meta_engine/.deps/
modules/misc/.deps/
modules/misc/Makefile
modules/misc/addons/.deps/
modules/misc/inhibit/.deps/
modules/misc/playlist/.deps/
modules/misc/webservices/.deps/
modules/misc/xml/.deps/
modules/mux/.deps/
modules/mux/Makefile
modules/mux/mpeg/.deps/
modules/notify/.deps/
modules/packetizer/.deps/
modules/packetizer/Makefile
modules/services_discovery/.deps/
modules/stream_filter/.deps/
modules/stream_filter/dash/.deps/
modules/stream_filter/dash/adaptationlogic/.deps/
modules/stream_filter/dash/buffer/.deps/
modules/stream_filter/dash/http/.deps/
modules/stream_filter/dash/mpd/.deps/
modules/stream_filter/dash/xml/.deps/
modules/stream_filter/smooth/.deps/
modules/stream_out/.deps/
modules/stream_out/Makefile
modules/stream_out/transcode/.deps/
modules/text_renderer/.deps/
modules/text_renderer/Makefile
modules/video_chroma/.deps/
modules/video_filter/.deps/
modules/video_filter/Makefile
modules/video_filter/atmo/.deps/
modules/video_filter/deinterlace/.deps/
modules/video_filter/dynamicoverlay/.deps/
modules/video_output/.deps/
modules/video_output/Makefile
modules/video_output/android/.deps/
modules/video_output/msw/.deps/
modules/video_output/xcb/.deps/
modules/video_splitter/.deps/
modules/visualization/.deps/
modules/visualization/Makefile
modules/visualization/visual/.deps/
po/Makefile
po/Makefile.in
po/POTFILES
share/Makefile
src/.deps/
src/Makefile
src/android/.deps/
src/audio_output/.deps/
src/config/.deps/
src/darwin/.deps/
src/extras/.deps/
src/input/.deps/
src/interface/.deps/
src/misc/.deps/
src/modules/.deps/
src/network/.deps/
src/os2/.deps/
src/playlist/.deps/
src/posix/.deps/
src/stream_output/.deps/
src/test/.deps/
src/text/.deps/
src/video_output/.deps/
src/win32/.deps/
stamp-h1
test/Makefile
test/libvlc/.deps/
test/src/config/.deps/
test/src/misc/.deps/
